<div class="card bg-dark mb-2 w-25">
  <div class="card-header">
    <h5 class="text-white">Einladung von {{invitation.inviter}}</h5>
  </div>
  <div class="card-body bg-dark">
    <p class="card-text">
      {{invitation.inviter}} asd ad asd ad hat Sie eingeladen seiner Umgebung "{{invitation.environmentName}}" beizutreten
    </p>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-secondary">Ignorieren</button>
    <button class="btn btn-sm btn-primary ml-1">Annehmen</button>
  </div>
</div>
