<div class="card border-primary mb-4" [ngClass]="edit? 'edit-mode':''">
  <div class="card-header">
    <h5 class="d-inline" *ngIf="edit">{{article.name}}</h5>
    <i class="fas fa-sliders-h float-right" (click)="editArticleSettings()" style="cursor: pointer" *ngIf="!edit"></i>
    <i class="fas fa-times float-right" (click)="editArticleSettings()" style="cursor: pointer" *ngIf="edit"></i>
  </div>

  <div class="card-body">
    <div class="container" *ngIf="!edit">
      <div class="col">
        <i class="fas fa-photo-video fa-7x mt-4"
           *ngIf="article.imageUrl == null ||article.imageUrl == ''"></i>
        <img [src]="article.imageUrl" alt="" class="card-img mx-auto d-block "
             *ngIf="article.imageUrl != null">
      </div>
    </div>
    <app-article-edit [article]="article" [articleUserSettings]="articleUserSettings" editMode="true"
                      *ngIf="edit" (save)="updateArticle();">
    </app-article-edit>
  </div>

  <div class="card-footer" *ngIf="!edit">
    <h5 class="card-text text-center">{{article.name}}</h5>
  </div>
</div>
