<div class="card bg-dark mb-4">
  <div class="card-header fas fa-sliders-h text-right"></div>
  <img src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
       alt="" class="card-img-top">
  <div class="card-body text-center">
    <h5 class="card-title text-light">Mousse Chocolat</h5>
    <div class="row">
      <div class="col-4 fas fa-angle-double-down fa-2x"></div>
      <div class="col-4 fas fa-trash-alt fa-2x"></div>
      <div class="col-4 fas fa-box-open fa-2x"></div>
    </div>
  </div>
</div>
