<div class="card bg-dark mb-4" [ngClass]="edit? 'edit-mode':''">
  <div class="card-header">
    <h5 class="text-light d-inline" *ngIf="edit">{{article.name}}</h5>
    <i class="fas fa-sliders-h float-right" (click)="editArticleSettings()" style="cursor: pointer" *ngIf="!edit"></i>
    <i class="fas fa-times float-right" (click)="editArticleSettings()" style="cursor: pointer" *ngIf="edit"></i>
  </div>
  <i class="fas fa-photo-video fa-9x text-center mt-4"
     *ngIf="!edit && (article.imageUrl == null ||article.imageUrl == '')"></i>
  <img [src]="article.imageUrl" alt="" class="card-img" *ngIf="!edit && article.imageUrl != null">
  <div class="card-body">
    <h5 class="card-text text-light text-center" *ngIf="!edit">{{article.name}}</h5>
    <app-article-edit [article]="article" *ngIf="edit"></app-article-edit>
  </div>
  <div class="card-footer" *ngIf="!edit">
    <div class="row text-center">
      <div class="col-4 fas fa-angle-double-down fa-2x"></div>
      <div class="col-4 fas fa-trash-alt fa-2x"></div>
      <div class="col-4 fas fa-box-open fa-2x"></div>
    </div>
  </div>
</div>
