.card-img {
  display: inline-block;
  max-height: 200px;
  width: auto;
  height: auto;
}

.card {
  min-width: 250px;
}

.edit-mode {
  min-width: 700px;
}

.fas {
  color: rgba(255, 255, 255, 0.5);
}
