<div class="card bg-dark text-center" [ngClass]="[doScan? 'border-info': '', enabled ? '':'disabled']"
     (click)="startScan()">
  <div class="fas fa-lg mt-3 mb-2" style="font-size: 6vw" [ngClass]="icon"></div>
  <h5 class="card-title text-center text-light mt-2">{{scanModes[mode]}}</h5>
  <div class="card-text text-light">{{description}}</div>
  <div class="progress bg-dark" *ngIf="doScan">
    <div class="progress-bar bg-success" style="height: 2px" role="progressbar" [style.width]="timeoutProgress+'%'"></div>
  </div>
  <div class="mb-3" *ngIf="!doScan"></div>
</div>
