<app-article-details>
  <div class="btn-group btn-group-sm w-100" role="group" buttonBar>
    <button class="btn btn-secondary" [routerLink]="['basedata']" routerLinkActive="active">
      <i class="fas fa-list-alt fa-2x"></i>
      <!--          <div>Artikeldaten</div>-->
    </button>
    <button class="btn btn-secondary" [routerLink]="['stocksettings']" routerLinkActive="active">
      <i class="fas fa-tools fa-2x"></i>
      <!--          <div>Einstellungen</div>-->
    </button>
    <button class="btn btn-secondary" [routerLink]="['stores']" routerLinkActive="active">
      <i class="fas fa-store fa-2x"></i>
      <!--          <div>Läden</div>-->
    </button>
    <button class="btn btn-secondary" [routerLink]="['stock']" routerLinkActive="active">
      <i class="fas fa-warehouse fa-2x"></i>
      <!--          <div>Vorrat</div>-->
    </button>
  </div>

  <router-outlet component></router-outlet>
</app-article-details>
