<div class="row">
  <div class="col">
    <h5 class="text-white">{{article.name}}</h5>
  </div>
</div>
<div class="row">
  <div class="col-3 text-center">
    <img src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
         alt="" class="card-img">
    <div class="text-body mt-1">{{article.barcode}}</div>
  </div>
  <div class="col">
    <tabset #tabs>
      <tab [ngStyle]="tabStyle">
        <ng-template tabHeading>
          <span [ngClass]="tabs.tabs[0].active ? '' : 'text-light'">Allgemein</span>
        </ng-template>
        <div class="container mt-3">
          <div class="row">
            <div class="col-6">
              <div class="text-light">Artikelgruppe</div>
              <select class="custom-select custom-select-sm" [(ngModel)]="article.groupId">
                <option *ngFor="let g of articleData.articleGroups" [ngValue]="g.id">{{g.name}}</option>
              </select>
              <div class="text-light mt-2">Einheit</div>
              <select class="custom-select custom-select-sm" [(ngModel)]="article.unitId">
                <option *ngFor="let u of articleData.units" [ngValue]="u.id">{{u.name}} ({{u.abbreviation}})</option>
              </select>
            </div>
          </div>
        </div>
      </tab>

      <tab [ngStyle]="tabStyle">
        <ng-template tabHeading>
          <span [ngClass]="tabs.tabs[1].active ? '' : 'text-light'">Einstellungen</span>
        </ng-template>
        <div class="container mt-3">
          <div class="row">
            <div class="col-6">
              <div class="text-light">Soll Lagerbestand</div>
              <input type="text" class="form-control form-control-sm w-25" [(ngModel)]="userSettings.keepStockAmount">
              <div class="text-light mt-2">Lagerbestand Modus</div>
              <select class="custom-select custom-select-sm" [(ngModel)]="userSettings.keepStockMode">
                <option *ngFor="let mode of articleData.keepStockModes" [ngValue]="mode.id">{{mode.label}}</option>
              </select>
              <div class="text-light mt-2">Einheit</div>
              <select class="custom-select custom-select-sm" [(ngModel)]="article.unitId">
                <option *ngFor="let u of articleData.units" [ngValue]="u.id">{{u.name}} ({{u.abbreviation}})</option>
              </select>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
