<form id="articleForm" #f="ngForm">
  <div class="row">
    <div class="col-3 text-center">
      <app-article-image [(imageUrl)]="article.imageUrl" (imageUrlChange)="f.control.markAsTouched()"></app-article-image>
      <div class="text-body mt-2">{{article.barcode}}</div>
    </div>

    <div class="col">
      <tabset #tabs>
        <tab [ngClass]="editMode ? 'edit-size' : 'check-in-size'">
          <ng-template tabHeading>
            <span [ngClass]="tabs.tabs[0].active ? '' : 'text-light'">Artikel</span>
          </ng-template>
          <div class="container mt-3">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="articleName">Name</label>
                  <input type="text" class="form-control form-control-sm mb-2" [(ngModel)]="article.name"
                         name="articleName" id="articleName" required>
                </div>
                <div class="form-group">
                  <label for="articleGroup">Artikelgruppe</label>
                  <select class="custom-select custom-select-sm" id="articleGroup" [(ngModel)]="article.groupId"
                          name="groupId" required>
                    <option style="text-overflow: ellipsis; overflow: hidden"
                            *ngFor="let g of articleData.articleGroups" [ngValue]="g.id">{{g.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="hasExpireDate" name="hasLifetime"
                           [(ngModel)]="article.hasLifetime" required>
                    <label class="custom-control-label" for="hasExpireDate">Hat Ablaufdatum </label>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="unit">Einheit</label>
                  <select class="custom-select custom-select-sm" id="unit"
                          [(ngModel)]="article.unitId" #unitSelector
                          name="unitId" required>
                    <option *ngFor="let u of articleData.units" [ngValue]="u.id">{{u.name}} ({{u.abbreviation}})
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="contentAmount">Inhaltsmenge</label>
                  <div class="input-group input-group-sm w-50">
                    <input type="text" class="form-control form-control-sm text-right no-round-corners"
                           name="contentAmount"
                           [(ngModel)]="article.contentAmount" id="contentAmount" required>
                    <div class="input-group-append">
                      <span
                        class="input-group-text">{{articleData.units[unitSelector.selectedIndex]?.abbreviation}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>

        <tab [ngClass]="editMode ? 'edit-size' : 'check-in-size'">
          <ng-template tabHeading>
            <span [ngClass]="tabs.tabs[1].active ? '' : 'text-light'">Einstellungen</span>
          </ng-template>
          <div class="container mt-3">
            <div class="row">
              <div class="col-8">
                <div class="form-group">
                  <label for="keepStockAmount">Soll Lagerbestand</label>
                  <div class="input-group input-group-sm w-50">
                    <input type="text" class="form-control form-control-sm text-right no-round-corners"
                           name="keepStockAmount"
                           [(ngModel)]="article.articleUserSettings.keepStockAmount" id="keepStockAmount" required>
                    <div class="input-group-append">
                      <span
                        class="input-group-text">Stk.</span>
                    </div>
                  </div>
                </div>

                <label for="keepStockMode">Lagerbestand Modus</label>
                <div class="form-group">
                  <select class="custom-select custom-select-sm" id="keepStockMode"
                          [(ngModel)]="article.articleUserSettings.keepStockMode"
                          name="keepStockMode" required>
                    <option *ngFor="let mode of articleData.keepStockModes" [ngValue]="mode.id">{{mode.label}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab *ngIf="editMode"
             [ngClass]="editMode ? 'edit-size' : 'check-in-size'">
          <ng-template tabHeading>
            <span [ngClass]="tabs.tabs[2].active ? '' : 'text-light'">Lager</span>
          </ng-template>
          <div class="container mt-3">
            <app-article-stock [article]="article" ></app-article-stock>
          </div>
        </tab>
      </tabset>


    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3"></div>
    <div class="col">
      <button class="btn btn-sm btn-danger" *ngIf="!editMode">Verwerfen</button>
      <button class="btn btn-sm btn-success float-right" form="articleForm" (click)="saveArticle()">Speichern</button>
    </div>
  </div>
</form>
