<div class="row">
  <div class="form-group w-100">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend" [class.border-bottom]="bottomBorder">
        <span class="input-group-text">{{label}}</span>
      </div>
      <input type="text" class="form-control ellipsis text-right" [class.border-bottom]="bottomBorder"
             [value]="value" (click)="clicked.emit($event)">
      <!--      <div class="input-group-append">-->
      <!--      <span class="input-group-text">-->
      <!--        <i class="fa fa-angle-right"></i>-->
      <!--      </span>-->
      <!--      </div>-->
    </div>
  </div>
</div>
