<div class="container h-100">
  <div class="row mt-4">
    <div class="col-12 col-sm-4">
      <app-scan-card [modeName]="'Einbuchen'" [description]="'Artikel wurde neu gekauft'"
                     [icon]="'fa-angle-double-down'" [enabled]="scanMode == 'none'"
                     (scanStarted)="startScan($event)" (scanTimedOut)="scanTimeout()"></app-scan-card>
    </div>
    <div class="col-12 col-sm-4">
      <app-scan-card [modeName]="'Ausbuchen'" [description]="'Artikel wurde aufgebraucht'"
                     [icon]="'fa-trash-alt'" [enabled]="scanMode == 'none'"
                     (scanStarted)="startScan($event)" (scanTimedOut)="scanTimeout()"></app-scan-card>
    </div>
    <div class="col-12 col-sm-4">
      <app-scan-card [modeName]="'Geöffnet'" [description]="'Artikel wurde geöffnet'"
                     [icon]="'fa-box-open'" [enabled]="scanMode == 'none'"
                     (scanStarted)="startScan($event)" (scanTimedOut)="scanTimeout()"></app-scan-card>
    </div>
  </div>

  <div class="row mt-4" *ngIf="scanMode != 'none'">
    <div class="col-4">
      <app-code-scanner (barcodeDetected)="success($event)"></app-code-scanner>
    </div>
    <div class="col-8">
      <h4 class="text-light">{{code}}</h4>
    </div>
  </div>

  <div class="row" [ngClass]="scanMode == 'none'? 'mt-5' : 'mt-3'">
    <div class="col-md-12">
      <h4 class="text-light">Letzte Aktivität</h4>

      <table class="table table-striped table-dark mt-3 table-sm">
        <thead>
        <tr>
          <th class="text-center">Bild</th>
          <th>Artikel</th>
          <th class="text-center">Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center" style="width: 15%;"><img
            src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
            alt=""
            class="img-prod-activity"></td>
          <td>Mousse Chocolat</td>
          <td class="text-center" style="width: 15%;"><i class="fas fa-angle-double-down fa-2x"></i></td>
        </tr>
        <tr>
          <td class="text-center" style="width: 15%;"><img
            src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
            alt=""
            class="img-prod-activity"></td>
          <td>Mousse Chocolat</td>
          <td class="text-center" style="width: 15%;"><i class="fas fa-angle-double-down fa-2x"></i></td>
        </tr>
        <tr>
          <td class="text-center" style="width: 15%;"><img
            src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
            alt=""
            class="img-prod-activity"></td>
          <td>Mousse Chocolat</td>
          <td class="text-center" style="width: 15%;"><i class="fas fa-angle-double-down fa-2x"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


