<div class="container">
  <div class="row justify-content-end">
    <div class="col-4 mt-4 text-right">
      <label for="environmentSelector"
             class="d-inline-block mr-1 text-light"><small><strong>Umgebung: </strong></small></label>
      <app-environment-selector id="environmentSelector"></app-environment-selector>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-sm-4">
      <app-scan-card [scanMode]="scanModes.checkin" [description]="'Artikel wurde neu gekauft'"
                     [icon]="'fa-angle-double-down'" [enabled]="scanMode == scanModes.none && hasPermission"
                     (scanStarted)="startScan($event)" (scanTimedOut)="finishScan()"></app-scan-card>
    </div>
    <div class="col-12 col-sm-4">
      <app-scan-card [scanMode]="scanModes.checkout" [description]="'Artikel wurde aufgebraucht'"
                     [icon]="'fa-trash-alt'" [enabled]="scanMode == scanModes.none && hasPermission"
                     (scanStarted)="startScan($event)" (scanTimedOut)="finishScan()"></app-scan-card>
    </div>
    <div class="col-12 col-sm-4">
      <app-scan-card [scanMode]="scanModes.open" [description]="'Artikel wurde geöffnet'"
                     [icon]="'fa-box-open'" [enabled]="scanMode == scanModes.none && hasPermission"
                     (scanStarted)="startScan($event)" (scanTimedOut)="finishScan()"></app-scan-card>
    </div>
  </div>
  <div class="row mt-4" *ngIf="scanMode != 0">
    <div class="col-4">
      <app-code-scanner (barcodeDetected)="barcodeDetected($event)"></app-code-scanner>
    </div>
    <div class="col-8">
      <app-article-edit [article]="scannedArticle" [editMode]="false"
                        *ngIf="scannedArticle && (scannedArticle.id == 0 || scannedArticle.articleUserSettings.id == 0)"
                        (articleCreated)="newArticleCreated($event)">
      </app-article-edit>
      <app-article-checkin [article]="scannedArticle" *ngIf="scannedArticle &&
      (scannedArticle.id != 0 || scannedArticle.articleUserSettings.id != 0)"
                           (doneOrCanceled)="finishScan()"></app-article-checkin>
    </div>
  </div>

  <div class="row" [ngClass]="scanMode == scanModes.none ? 'mt-5' : 'mt-3'">
    <div class="col-md-12">
      <h4 class="text-light">Letzte Aktivitäten</h4>

      <table class="table table-striped table-dark mt-3 table-sm">
        <thead>
        <tr>
          <th class="text-center">Bild</th>
          <th>Artikel</th>
          <th class="text-center">Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center" style="width: 15%;"><img
            src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
            alt=""
            class="img-prod-activity"></td>
          <td>Mousse Chocolat</td>
          <td class="text-center" style="width: 15%;"><i class="fas fa-angle-double-down fa-2x"></i></td>
        </tr>
        <tr>
          <td class="text-center" style="width: 15%;"><img
            src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
            alt=""
            class="img-prod-activity"></td>
          <td>Mousse Chocolat</td>
          <td class="text-center" style="width: 15%;"><i class="fas fa-angle-double-down fa-2x"></i></td>
        </tr>
        <tr>
          <td class="text-center" style="width: 15%;"><img
            src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
            alt=""
            class="img-prod-activity"></td>
          <td>Mousse Chocolat</td>
          <td class="text-center" style="width: 15%;"><i class="fas fa-angle-double-down fa-2x"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


