<div class="container">
  <div class="row justify-content-end">
    <div class="col mt-4 text-right">
      <label for="environmentSelector"
             class="d-inline-block mr-1 text-light"><small><strong>Umgebung: </strong></small></label>
      <app-environment-selector id="environmentSelector" (environmentChanged)="environmentChanged()"></app-environment-selector>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <app-scan-card [mode]="scanModes.checkin" [description]="'Artikel wurde neu gekauft'"
                     [icon]="'fa-angle-double-down'" [enabled]="scanMode == scanModes.none && hasPermission"
                     (scanStarted)="startScan($event)" (scanTimedOut)="finishScan()" #scanCheckIn></app-scan-card>
    </div>
    <div class="col-4">
      <app-scan-card [mode]="scanModes.checkout" [description]="'Artikel wurde komplett aufgebraucht'"
                     [icon]="'fa-angle-double-up'" [enabled]="scanMode == scanModes.none && hasPermission"
                     (scanStarted)="startScan($event)" (scanTimedOut)="finishScan()" #scanCheckOut></app-scan-card>
    </div>
    <div class="col-4">
      <app-scan-card [mode]="scanModes.open" [description]="'Artikel wurde geöffnet/verbraucht'"
                     [icon]="'fa-box-open'" [enabled]="scanMode == scanModes.none && hasPermission"
                     (scanStarted)="startScan($event)" (scanTimedOut)="finishScan()" #scanOpen></app-scan-card>
    </div>
  </div>
  <div class="row mt-4" *ngIf="scanMode != scanModes.none">
    <div class="col-4">
      <app-code-scanner (barcodeDetected)="barcodeDetected($event)" (cancel)="finishScan()"></app-code-scanner>
    </div>
    <div class="col-8">
      <app-article-edit [article]="scannedArticle" [articleUserSettings]="articleUserSettings" [editMode]="false"
                        *ngIf="showBaseData" (save)="save()" (doneOrCanceled)="finishScan()">
      </app-article-edit>

      <app-article-checkin [article]="scannedArticle" [articleUserSettings]="articleUserSettings"
                           *ngIf="showCheckIn" (doneOrCanceled)="finishScan()">
      </app-article-checkin>

      <app-article-check-out [article]="scannedArticle" [articleUserSettings]="articleUserSettings"
                             *ngIf="showCheckOut" (doneOrCanceled)="finishScan()"
                             [forOpenMode]="scanMode == scanModes.open">
      </app-article-check-out>
    </div>
  </div>

  <app-activity-log [scanMode]="scanMode"></app-activity-log>
</div>

<!--modal-->
<ng-template #notFoundDlg>
  <div class="modal-header">
    <h5 class="modal-titel pull-left">Beep! - Artikel nicht gefunden</h5>
    <button type="button" class="close pull-right" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Dieser Artikel scheint nicht erfasst zu sein.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-success" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>
