<div class="row">
  <div class="col-3 d-flex"></div>
  <div class="col d-flex">
    <label for="keepStockAmount" class="d-inline mt-1 mr-1">Anzahl an Lagen halten</label>
    <input type="text" id="keepStockAmount" class="form-control form-control-sm mr-3" style="width: 55px">
  </div>
  <div class="col">
    <div class="float-right d-flex">
      <label for="keepStockMode" class="d-inline mt-1 mr-2">Modus:</label>
      <select name="" id="keepStockMode" class="form-control form-control-sm" style="width: 200px;">
        <option value="">Artikel vorrätig halten</option>
        <option value="">Artikelgruppe vorrätig halten</option>
      </select>
    </div>
  </div>
</div>
