<div class="container mt-4">
  <div class="col">
    <div class="row">
      <h4 class="text-light"> Benutzer </h4>
    </div>
    <div class="row">
      <form (ngSubmit)="changeDisplayName()" #displayName='ngForm'>
        <fieldset>
          <div class="form-group">
            <label for="displayName">Anzeigename ändern</label>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input type="text" class="form-control" id="displayName" name="displayName"
                         [(ngModel)]="user.displayName"
                         [class.is-invalid]="displayName.dirty && displayName.invalid" required>
                  <div class="input-group-append ml-3">
                    <button type="submit" class="btn btn-sm btn-success"
                            *ngIf="displayName.dirty && displayName.valid && !displayName.submitted">
                      Ändern
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="row mt-3">
      <h4 class="text-light"> E-Mail </h4>
    </div>
    <div class="row">
      <form (ngSubmit)="changeEmail()" #changeMail='ngForm'>
        <fieldset>
          <div class="form-group">
            <label for="email">Adresse ändern</label>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input type="email" class="form-control" id="email" name="email" style="max-width: 219px"
                         [(ngModel)]="user.email" [disabled]="!authService.currentUser.emailConfirmed" #email="ngModel"
                         [class.is-invalid]="(email.dirty && email.invalid) || !authService.currentUser.emailConfirmed"
                         email required>
                  <div class="input-group-append ml-3">
                    <button type="submit" class="btn btn-sm btn-success" *ngIf="email.dirty && email.valid">
                      Ändern
                    </button>
                    <button class="btn btn-sm btn-primary" type="button" (click)="resendConfirmation()"
                            *ngIf="!authService.currentUser.emailConfirmed">
                      <i class="fas fa-envelope mr-2"></i>Bestätigungsnachricht erneut anfordern
                    </button>
                  </div>
                  <div class="invalid-feedback">Die Email Adresse wurde noch nicht bestätigt</div>
                </div>

              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="row mt-3">
      <h4 class="text-light"> Passwort ändern </h4>
    </div>
    <div class="row">
      <form (ngSubmit)="changePassword()" #changePw='ngForm'>
        <div class="row mb-2">
          <div class="col-auto">
            <div class="form-group">
              <label for="currentPassword">Aktuelles Passwort</label>
              <input type="password" class="form-control" id="currentPassword"
                     [(ngModel)]="currentPassword" name="currentPassword" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <div class="form-group">
              <label for="password">Neues Passwort</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="newPassword" name="password"
                     required #pw="ngModel">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-auto">
            <div class="form-group">
              <label for="confirmPassword">Bestätigen</label>
              <div class="input-group">
                <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword"
                       name="confirmPassword" required #confirmPw="ngModel" minlength="6" [equalTo]="pw">
                <div class="input-group-append">
                  <button type="submit" class="ml-3 btn btn-sm btn-success" *ngIf="confirmPw.dirty && confirmPw.valid">
                    Ändern
                  </button>
                </div>
              </div>
              <div class="invalid-feedback" *ngIf="confirmPw.hasError('minlength')">Das Passwort ist zu kurz</div>
              <div class="invalid-feedback" *ngIf="confirmPw.hasError('equalTo')">Die Passwörter stimmen nicht übrein
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
