<div class="container mt-4">
  <div class="col">
    <div class="row">
      <h4 class="text-light"> Benutzer </h4>
    </div>
    <div class="row">
      <form (ngSubmit)="changeDisplayName()">
        <fieldset>
          <div class="form-group">
            <label for="displayName">Anzeigename ändern</label>
            <div class="row">
              <div class="col-auto">
                <input type="text" class="form-control" id="displayName" [value]="user.displayName">
              </div>
              <div class="col">
                <button type="submit" class="btn-sm btn-success">Ändern</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="row mt-3">
      <h4 class="text-light"> E-Mail </h4>
    </div>
    <div class="row">
      <form (ngSubmit)="changeEmail()">
        <fieldset>
          <div class="form-group">
            <label for="email">Adresse ändern</label>
            <div class="row">
              <div class="col-auto">
                <input type="text" class="form-control" id="email" [value]="user.email">
              </div>
              <div class="col">
                <button type="submit" class="btn-sm btn-success">Ändern</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="row mt-3">
      <h4 class="text-light"> Passwort </h4>
    </div>
    <div class="row">
      <form (ngSubmit)="changePassword()">
        <fieldset>
          <div class="form-group">
            <div class="row">
              <div class="col-auto">
                <label for="password">Neues Passwort setzen</label>
                <input type="password" class="form-control" id="password">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-auto">
                <label for="passwordConfirm">Bestätigen</label>
                <input type="password" class="form-control" id="passwordConfirm">
              </div>
              <div class="col align-self-end">
                <button type="submit" class="btn-sm btn-success">Ändern</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
