.img-product {
  display: inline-block;
  max-height: 35px;
  width: auto;
  height: auto;
}

.img-product-lg {
  display: inline-block;
  max-height: 450px;
  width: auto;
  height: auto;
}
.strike-out{
  text-decoration: line-through;
}
