<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4"><h2 class="text-body">Mousse Chocolat</h2></div>
    <div class="col-sm-8">
      <h4 class="float-right text-body">Neuer Artikel</h4><br>
      <div class="alert alert-info mt-1">Unsaved Changes</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="container border-secondary bg-dark">
        <img src="https://image.migros.ch/product-zoom/eb6de3ee0cba4b4aeb0ec22bc4599441d85f68b4/mousse-chocolat.jpg"
             alt="" class="card-img-top art-thumbnail align-self-center">
      </div>
    </div>
    <div class="col-sm-8">
      <div class="border-secondary" style="padding: 10px;">
        <form>
          <fieldset>
            <h4 class="text-body">Lager</h4>
            <div class="ml-2 mb-4">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="switchKeepStored">
                  <label class="custom-control-label" for="switchKeepStored">Artikel an Lager halten</label>
                </div>
              </div>
              <div class="form-group">
                <label for="stockAmount">Anzahl an Lager halten</label>
                <input type="text" class="form-control w-25 bg-dark text-light" id="stockAmount">
              </div>
              <div class="form-group">
                <label for="keepStockMode">Modus</label>
                <select name="" id="keepStockMode" class="form-control bg-dark text-light w-50">
                  <option value="">Artikel</option>
                  <option value="">Artikelgruppe</option>
                </select>
              </div>
            </div>

            <h4 class="text-body">Laden</h4>
            <div class="ml-2 mb-4">
              <div class="form-group">
                <label for="storeSelector">Gekauft bei</label>
                <select name="" id="storeSelector" class="form-control bg-dark text-light w-50">
                  <option value="">Migros</option>
                  <option value="">Coop</option>
                  <option value="">Spar</option>
                  <option value="">Denner</option>
                </select>
              </div>
            </div>

            <h4 class="text-body">Zustand</h4>
            <div class="ml-2">
              <div class="form-group">
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="isOpened">
                    <label class="custom-control-label" for="isOpened">ist geöffnet</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="openedAtDate"> Geöffnet am </label>
                <input type="text" class="form-control-plaintext bg-dark w-25" readonly="" id="openedAtDate">
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
