<div infiniteScroll (scrolled)="loadMore()" [fromRoot]="true" [infiniteScrollContainer]="'.center-content'">
  <ul class="list-group" *ngFor="let article of articles">
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col-2" style="padding: 0; text-align: center">
            <img [src]="article.imageUrl" [class.img-thumbnail]="article.imageUrl"
                 style="max-height: 40px; max-width: 40px; min-height: 40px">
          </div>
          <div class="col">
            {{article.name}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
