<div class="row" *ngIf="stockData">
  <div class="col">
    <table class="table table-sm table-dark table-hover table-striped">
      <thead>
      <tr>
        <th scope="col" *ngIf="showColumn(columns.amount)">Anz.</th>
        <th scope="col" *ngIf="showColumn(columns.expireDate)">Ablaufdatum</th>
        <th scope="col" *ngIf="showColumn(columns.fillLevel)">Füllstand</th>
        <th scope="col" class="text-center" *ngIf="showColumn(columns.isOpened)">Geöffnet</th>
        <th scope="col" class="text-center" *ngIf="showColumn(columns.checkOut)">Entsorgen</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-light" *ngFor="let entry of stockData.content" (click)="selectEntry(entry.id)"
          [class.table-success]="entry.id === selectedEntryId">
        <td *ngIf="showColumn(columns.amount)">{{entry.amountOnStock}}</td>
        <td *ngIf="showColumn(columns.expireDate)">{{entry.expireDate | date: 'dd.MM.yyyy'}}</td>
        <td *ngIf="showColumn(columns.fillLevel)">
          <app-fill-level [entry]="entry" [maxContent]="article.contentAmount"
                          [unitAbbreviation]="articleData.getUnitAbbreviation(article.unitId)"
                          *ngIf="stockData"></app-fill-level>
        </td>
        <td class="text-center" *ngIf="showColumn(columns.isOpened)">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chkOpen{{entry.id}}" value="{{entry.id}}"
                   [(ngModel)]="entry.isOpened" (click)="openArticle($event)"
                   [disabled]="!permissionsService.hasPermissionOr(scanArticlePermission)">
            <label class="custom-control-label" for="chkOpen{{entry.id}}"></label>
          </div>
        </td>
        <td class="text-center" *ngIf="showColumn(columns.checkOut)">
          <div class="fas fa-trash-alt" style="cursor: pointer" (click)="checkOut(entry)"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col text-light">
    Total: {{stockData?.totalStockAmount}} Stk.
  </div>
  <div class="col">
    <pagination [totalItems]="stockData.pagination.totalItems" maxSize="5"
                [itemsPerPage]="stockData.pagination.itemsPerPage"
                [(ngModel)]="stockData.pagination.currentPage" (pageChanged)="pageChanged.emit($event)"
                firstText="&laquo;" previousText="&lsaquo;" nextText="&rsaquo;" lastText="&raquo;"
                *ngIf="stockData && stockData.pagination.totalPages > 1"></pagination>
  </div>
  <div class="col"></div>
</div>
