<div class="container mt-4">
  <div class="row mb-2">
    <h3 class="text-white ">Einladungen and mich</h3>
  </div>
  <div class="row">
    <h4 class="text-white" *ngIf="invitationsReceived.length == 0">Keine</h4>
    <div class="card bg-dark mb-2 mr-2 w-25" *ngFor="let invitation of invitationsReceived; let i = index">
      <div class="card-header">
        <h5 class="text-white">Einladung von {{invitation.inviter}}</h5>
      </div>
      <div class="card-body bg-dark">
        <p class="card-text">
          {{invitation.inviter}} hat Sie eingeladen seiner Umgebung "{{invitation.environmentName}}" beizutreten
        </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-sm btn-secondary" (click)="answerInvitation(i, 0)">Ignorieren</button>
          </div>
          <div class="col-6">
            <button class="btn btn-sm btn-success fa-pull-right" (click)="answerInvitation(i, 1)">Annehmen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <h3 class="text-white mb-3">Einladungen von mir</h3>
  </div>
  <div class="row">
    <h4 class="text-white" *ngIf="invitationsSent.length == 0">Keine</h4>

    <table class="table table-sm table-striped table-dark" *ngIf="invitationsSent.length > 0">
      <thead >
      <tr>
        <th scope="col">An</th>
        <th scope="col">Für Umgebung</th>
        <th scope="col">Gesendet am</th>
        <th scope="col">Beantwortet</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let invitation of invitationsSent">
        <td>{{invitation.invitee}}</td>
        <td>{{invitation.environmentName}}</td>
        <td>{{invitation.issuedAt | date}}</td>
        <td>{{invitation.isAnswered |boolYesNo}}</td>
        <td>
          <button class="btn btn-danger btn-sm"
                  (click)="deleteInvitation(invitation.inviteeId, invitation.environmentId)">L&ouml;schen
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container" *ngIf="invitationsSent.length > 0">
      <div class="row justify-content-end">
        <button class="btn btn-danger" (click)="deleteAnsweredInvitations();">Beantwortete l&ouml;schen</button>
      </div>
    </div>
  </div>
</div>
