<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-2">
      <app-environment-filter (changed)="environmentChanged()"></app-environment-filter>
      <app-name-or-barcode [(nameOrEan)]="filter.nameOrEan" (nameOrEanChange)="setFilter()"></app-name-or-barcode>
      <app-article-filter (setFilter)="setFilter()" (clearFilter)="clearFilter()"
                          [(isOnStock)]="filter.isOnStock"
                          [(keepOnStock)]="filter.keepOnStock"
                          [(isOpened)]="filter.isOpened"
                          [(storeId)]="filter.storeId">
      </app-article-filter>
      <app-pagination [pagination]="pagination" (pageChanged)="pageChanged($event)"
                      *ngIf="pagination.totalPages > 1"></app-pagination>
    </div>
    <div class="col-10">
      <h5 class="text-info" *ngIf="articles?.length == 0 && !filterSet">
        Es wurden noch keine Artikel eingescannt
      </h5>
      <h5 class="text-info" *ngIf="articles?.length == 0 && filterSet">
        Es wurden keine Artikel gefunden
      </h5>
      <div class="card-deck">
        <app-article-card *ngFor="let article of articles" [article]="article" [environmentId]="filter.environmentId">
        </app-article-card>
      </div>
    </div>
  </div>
</div>
