<div class="container mt-4">
  <div class="row justify-content-center mb-4">
    <div class="btn-group">
      <button class="btn btn-info">Meine</button>
      <button class="btn btn-info">Alle</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card bg-dark mb-3">
        <h5 class="card-header bg-info text-light">Suchen</h5>
        <div class="card-body">
          <form action="">
            <div class="form-group">
              <label for="searchText" >Name oder EAN</label>
              <input type="text" class="form-control" id="searchText">
            </div>
            <button class="btn btn-sm btn-info float-right">Scan Barcode</button>
          </form>
        </div>
      </div>
      <div class="card bg-dark">
        <h5 class="card-header bg-info text-light">Filter</h5>
        <form action="">
          <div class="card-body">

            <div class="form-group">
              <label for="storeSelector">Gekauft bei</label>
              <select class="form-control h-auto" id="storeSelector">
                <option>Migros</option>
                <option>Coop</option>
                <option>Spar</option>
                <option>Denner</option>
              </select>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="isOpened" checked="">
              <label class="custom-control-label" for="isOpened">Ist geöffnet</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="keepOnStock" checked="">
              <label class="custom-control-label" for="keepOnStock">An Lager halten</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="isOnStock" checked="">
              <label class="custom-control-label" for="isOnStock">Ist verfügbar</label>
            </div>

          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <div class="btn btn-secondary btn-sm">Löschen</div>
              </div>
              <div class="col-6 text-right">
                <div class="btn btn-success btn-sm">Setzen</div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="col-9">
      <div class="card-deck">
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
      </div>
    </div>
  </div>
</div>
