<div class="container mt-4">
  <div class="row">
    <!--    Linke Seite -->
    <div class="col-md-4 border-right border-primary">
      <h4 class="mt-3">Environments</h4>
      <div class="list-group">
        <ul>
          <li class="list-group-item list-group-item-cursor" (click)="selectEnvironment(i)"
              [class.active]="environment == currentEnvironment"
              *ngFor="let environment of environments; let i = index">
            {{environment.name}}
          </li>
        </ul>
      </div>
      <div class="text-right mb-3">
        <button class="btn btn-danger btn-sm mr-2" (click)="deleteEnvironment()"
                [disabled]="onlyOneEnvironment() || !currentEnvironment || currentEnvironment.ownerId != userId">
          Löschen
        </button>
        <button class="btn btn-success btn-sm" (click)="addEnvironment()">Hinzufügen</button>
      </div>
    </div>

    <!--    Rechte Seite -->
    <div class="col-md-8">
      <div class="col-md-12 h-100">
        <h4 class="ml-2 mt-3 mr-2" *ngIf="!currentEnvironment">Kein Environment gewählt</h4>

        <div class="row" *ngIf="currentEnvironment">
          <div class="col-md-12">
            <h5 class="mt-3">Name</h5>
            <div class="input-group mb-4">
              <input type="text" class="form-control styled-input" style="height: 48px"
                     #envNameEdit #input="ngModel" [readOnly]="currentEnvironment.ownerId != userId"
                     [class.text-light]="currentEnvironment.ownerId === userId"
                     [ngModel]="currentEnvironment.name" (focusin)="envNameEdit.classList.remove('text-light')"
                     (focusout)="envNameEdit.classList.add('text-light')">
              <div class="input-group-append">
                <button class="btn btn-success" type="button" *ngIf="input.dirty" (click)="updateEnvName(input.value)">
                  <i class="fas fa-save"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="currentEnvironment">
          <div class="col-md-4">
            <h5>Mitglieder</h5>
            <div class="list-group mb-3">
              <a class="list-group-item list-group-item-action list-group-item-cursor"
                 *ngFor="let member of members; let i = index"
                 (click)="selectUser(i)" [class.active]="currentMember == member">{{member.username}}
                <i class="fas fa-crown ml-1" *ngIf="member.isOwner" rel="tooltip" title="Besitzer"></i>
              </a>
            </div>
            <button class="btn btn-danger btn-sm" (click)="removeMember()"
                    [disabled]="!currentMember || currentMember.isOwner ||
                    !permissions.hasPermissionOr(permissions.flags.isOwner || permissions.flags.manageUsers)">
              Entfernen
            </button>
            <button class="btn btn-success btn-sm float-right" (click)="openInviteDialog()"
                    [disabled]="!permissions.hasPermissionOr(permissions.flags.isOwner, permissions.flags.manageUsers)">
              Einladen
            </button>
          </div>

          <div class="col-md-8">
            <h5>Berechtigungen</h5>
            <div *ngIf="!currentMember">Wählen Sie einen Benutzer um die Berechtigungen anzupassen
            </div>
            <div class="list-group mb-2" *ngIf="currentMember">
              <div class="custom-control custom-checkbox mt-1 mb-1">
                <input type="checkbox" class="custom-control-input" id="checkIn"
                       [checked]="currentMember.canScan || currentMember.isOwner"
                       (change)="currentMember.canScan = !currentMember.canScan"
                       [disabled]="currentMember.isOwner">
                <label for="checkIn" class="custom-control-label">Darf Scannen</label>
              </div>
              <div class="custom-control custom-checkbox mt-1 mb-1">
                <input type="checkbox" class="custom-control-input" id="editArticleSettings"
                       [checked]="currentMember.editArticleSettings || currentMember.isOwner"
                       (change)="currentMember.editArticleSettings = !currentMember.editArticleSettings"
                       [disabled]="currentMember.isOwner">
                <label for="editArticleSettings" class="custom-control-label">Darf die Einstellungen der Artikel
                  ändern</label>
              </div>
              <div class="custom-control custom-checkbox mt-1 mb-2">
                <input type="checkbox" class="custom-control-input" id="invite"
                       [checked]="currentMember.manageUsers || currentMember.isOwner"
                       (change)="currentMember.manageUsers = !currentMember.manageUsers"
                       [disabled]="currentMember.isOwner">
                <label for="invite" class="custom-control-label">Darf Mitglieder verwalten</label>
              </div>
            </div>

            <button class="btn btn-success btn-sm float-right mb-3" *ngIf="currentMember"
                    (click)="savePermissions()">Speichern
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
