.list-group-item.active{
  border-width: 2px;
  border-color: limegreen;
}

.list-group-item-cursor {
  cursor: pointer;
}

.env-name-input {
  background: darkslategrey;
  border: 1px solid lightslategrey;
}
