<div class="d-flex flex-column h-100">
  <div style="width:100%; margin: 0 auto;">
    <app-nav></app-nav>
  </div>
  <div class="flex-grow-1 center-content">
    <router-outlet></router-outlet>
    <!--    <div style="width:100%;">-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--      <p>VARIABLE CONTENT THAT COULD BE LONG</p>-->
    <!--    </div>-->
  </div>

  <div class="w-100" style="background-color: #d0d0d0; margin: 0 auto;">
    <app-button-bar></app-button-bar>
  </div>
</div>
