<footer class="footer mt-auto">
  <div class="container-fluid bg-info">
    <div class="row">
      <div class="col col-3 text-center cursor-link" [routerLink]="['/main/scan']" routerLinkActive="active">
        <i class="fas fa-barcode fa-2x"></i>
      </div>
      <div class="col col-3 text-center cursor-link" [routerLink]="['/main/articles/']" routerLinkActive="active">
        <i class="fas fa-box fa-2x"></i>
      </div>
      <div class="col col-3 text-center cursor-link" [routerLink]="['/main/shopping-list']" routerLinkActive="active">
        <i class="fas fa-shopping-cart fa-2x"></i>
      </div>
      <div class="col col-3 text-center cursor-link" [routerLink]="['/main/users']" routerLinkActive="active">
          <i class="fas fa-cog fa-2x"></i>
      </div>
    </div>
<!--        <div class="btn-group" role="group">-->
<!--          <button class="btn btn-info">-->
<!--            <i class="fas fa-receipt fa-2x"></i>-->
<!--          </button>-->
<!--          <button class="btn btn-info ">-->
<!--            <i class="fas fa-box fa-2x"></i>-->
<!--          </button>-->
<!--          <button class="btn btn-info ">-->
<!--            <i class="fas fa-shopping-cart fa-2x"></i>-->
<!--          </button>-->
<!--          <button class="btn btn-info ">-->
<!--            <i class="fas fa-cog fa-2x"></i>-->
<!--          </button>-->
<!--        </div>-->
  </div>
</footer>
