<div class="container mt-5">
  <tabset #tabs>
    <tab>
      <ng-template tabHeading>
        <span [ngClass]="tabs.tabs[0].active?'':'text-light'">Profil</span>
      </ng-template>
      <app-profile></app-profile>
    </tab>
    <tab >
      <ng-template tabHeading>
        <span [ngClass]="tabs.tabs[1].active?'':'text-light'">Umgebungen</span>
      </ng-template>
      <app-environment-edit [environments]="user.environments" [userId]="user.id"></app-environment-edit>
    </tab>
  </tabset>
</div>

