<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12 border-light border">
        <h4 class="text-light mt-3">Environments</h4>
        <div class="list-group mb-2">
          <ul>
            <li class="list-group-item list-group-item-cursor" (click)="selectEnvironment(i)"
                [class.active]="environment == currentEnvironment"
                *ngFor="let environment of user.environments; let i = index">
              {{environment.name}}
            </li>
          </ul>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 text-right">
            <button class="btn btn-danger btn-sm mr-2">Delete</button>
            <button class="btn btn-success btn-sm">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12 border-light border h-100" *ngIf="!currentEnvironment">
        <h4 class="text-light mt-3">Kein Environment gewählt</h4>
      </div>
      <div class="col-md-12 border-light border" *ngIf="currentEnvironment">
        <h4 class="text-light mt-3" *ngIf="!editEnvironmentName">{{currentEnvironment.name}} <i class="fas fa-pen" (click)="startEditEnvName()" style="cursor: pointer"></i></h4>
        <input type="text" name="evnNameEdit" id="" [ngModel]="currentEnvironment.name" *ngIf="editEnvironmentName" (keyup.enter)="endEditEnvName($event)" (keyup.escape)="cancelEditEnvName()">

        <div class="row mb-3">
          <div class="col-md-4">
            <div class="col-md-12"> Members
              <div class="list-group mb-2">
                <a class="list-group-item list-group-item-action list-group-item-cursor"
                   *ngFor="let member of currentEnvironment.permissions; let i = index"
                   (click)="selectUser(i)" [class.active]="currentMember == member">{{member.username}}</a>
              </div>
              <button class="btn btn-outline-danger btn-sm">Remove</button>
              <button class="btn btn-success btn-sm float-right">Invite</button>
            </div>
          </div>
          <div class="col-md-8">
            <div class="col-md-12">
              Permissions
              <div class="list-group mb-2">
                <div class="custom-control custom-checkbox mt-2 mb-1">
                  <input type="checkbox" class="custom-control-input" id="isOwner" [checked]="currentMember.isOwner"
                         (change)="currentMember.isOwner = !currentMember.isOwner">
                  <label for="isOwner" class="custom-control-label">Ist Besitzer</label>
                </div>
                <div class="custom-control custom-checkbox mt-2 mb-1">
                  <input type="checkbox" class="custom-control-input" id="canView"
                         [checked]="currentMember.canView || currentMember.isOwner"
                         (change)="currentMember.canView = !currentMember.canView"
                         [disabled]="currentMember.isOwner">
                  <label for="canView" class="custom-control-label">Darf alle Artikel anzeigen</label>
                </div>
                <div class="custom-control custom-checkbox mt-1 mb-1">
                  <input type="checkbox" class="custom-control-input" id="checkIn"
                         [checked]="currentMember.checkIn || currentMember.isOwner"
                         (change)="currentMember.checkIn = !currentMember.checkIn"
                         [disabled]="currentMember.isOwner">
                  <label for="checkIn" class="custom-control-label">Darf einbuchen</label>
                </div>
                <div class="custom-control custom-checkbox mt-1 mb-1">
                  <input type="checkbox" class="custom-control-input" id="checkOut"
                         [checked]="currentMember.checkOut || currentMember.isOwner"
                         (change)="currentMember.checkOut = !currentMember.checkOut"
                         [disabled]="currentMember.isOwner">
                  <label for="checkOut" class="custom-control-label">Darf ausbuchen</label>
                </div>
                <div class="custom-control custom-checkbox mt-1 mb-1">
                  <input type="checkbox" class="custom-control-input" id="editArticleSettings"
                         [checked]="currentMember.editArticleSettings || currentMember.isOwner"
                         (change)="currentMember.editArticleSettings = !currentMember.editArticleSettings"
                         [disabled]="currentMember.isOwner">
                  <label for="editArticleSettings" class="custom-control-label">Darf die Einstellungen der Artikel
                    ändern</label>
                </div>
                <div class="custom-control custom-checkbox mt-1 mb-2">
                  <input type="checkbox" class="custom-control-input" id="invite"
                         [checked]="currentMember.invite || currentMember.isOwner"
                         (change)="currentMember.invite = !currentMember.invite"
                         [disabled]="currentMember.isOwner">
                  <label for="invite" class="custom-control-label">Darf Mitglieder einladen</label>
                </div>
              </div>
              <button class="btn btn-success btn-sm float-right" (click)="savePermissions()">Speichern</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
