<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12 border-light border">
        <h4 class="text-light mt-3">Environments</h4>
        <div class="list-group mb-2">
          <a href="#" class="list-group-item list-group-item-action">
            Zu Hause
          </a>
          <a href="#" class="list-group-item list-group-item-action active">Ferien Haus</a>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 text-right">
            <button class="btn btn-danger btn-sm mr-2">Delete</button>
            <button class="btn btn-success btn-sm ">Add</button>
          </div>
        </div>
      </div>
    </div>
        <div class="col-md-8">
      <div class="col-md-12 border-light border">
        <h4 class="text-light mt-3">Ferien Haus</h4>

        <div class="row mb-3">
          <div class="col-md-4">
            <div class="col-md-12"> Members
              <div class="list-group mb-2">
                <a href="#" class="list-group-item list-group-item-action">Me</a>
                <a href="#" class="list-group-item list-group-item-action">Someone</a>
                <a href="#" class="list-group-item list-group-item-action">Someone else</a>
              </div>
              <button class="btn btn-outline-danger btn-sm">Remove</button>
              <button class="btn btn-success btn-sm float-right">Invite</button>
            </div>
          </div>
          <div class="col-md-8">
            <div class="col-md-12">
              Permissions
              <div class="list-group mb-2">
                <a href="#" class="list-group-item list-group-item-action">View</a>
                <a href="#" class="list-group-item list-group-item-action">In</a>
                <a href="#" class="list-group-item list-group-item-action">Out</a>
                <a href="#" class="list-group-item list-group-item-action">Edit Settings</a>
                <a href="#" class="list-group-item list-group-item-action">Invite</a>
              </div>
              <button class="btn btn-success btn-sm float-right">Apply</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
