<div class="container-fluid h-100" style="background-color: rgb(239,239,244)">
  <div class="row">
    <h4 class="mt-1">Artikel Details</h4>
  </div>
  <div class="row" style="background-color: white">
    <div class="col text-center border-bottom">
      <img [src]="article.imageUrl" class="mb-1 mt-2 size">
      <h6>{{article?.name}}</h6>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h5>Titel</h5>
    </div>
  </div>
  <div class="row" style="background-color: white">
    <div class="col">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>
