<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="text-light">{{article.name}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-3 text-center">
      <app-article-image [imageUrl]="article.imageUrl"></app-article-image>
      <div class="text-body mt-2">{{article.barcode}}</div>
    </div>
    <div class="col">
      <div class="text-light mb-1" *ngIf="!showArticleOpen">Wählen Sie den Artikel der {{actionLabel}}</div>
      <app-stock-entry-list [stockData]="this.stockData" (entrySelected)="selectedEntryId = $event"
                            [article]="article" [selectedColumns]="showCols"
                            (pageChanged)="pageChanged($event)" *ngIf="!showArticleOpen"></app-stock-entry-list>
      <app-article-open [(remaining)]="selectedEntry.amountRemaining" *ngIf="showArticleOpen"></app-article-open>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-3"></div>
    <div class="col">
      <button class="btn btn-sm btn-danger" type="button" (click)="doneOrCanceled.emit()">Verwerfen</button>
      <button class="btn btn-sm btn-success float-right" (click)="action();">{{actionButtonLabel}}</button>
    </div>
  </div>
</div>
