<div class="modal-header">
  <h5 class="modal-title">Beep! - Ausbuchen</h5>
  <button class="close float-right" (click)="modalRef.hide()"><i class="fas fa-times"></i></button>
</div>
<div class="modal-body">
  <form action="" #f="ngForm" id="amountForm">
    <label for="checkoutAmount" class="text-body">Anzahl</label>
    <div class="input-group w-50">
      <input type="number" class="form-control form-control-sm remove-spinners" id="checkoutAmount" name="checkoutAmount"
             #checkoutAmount="ngModel" [ngClass]="{'custom-is-invalid' : checkoutAmount.invalid}"
             [(ngModel)]="amount" required appMinimumValue="1" [appMaximumValue]="totalAmount">
      <div class="input-group-append">
        <button class="btn btn-sm btn-info fas fa-minus" type="button" (click)="adjustAmount('-')"></button>
        <button class="btn btn-sm btn-info fas fa-plus" type="button" (click)="adjustAmount('+')"></button>
        <button class="btn btn-info btn-sm" type="button" (click)="amount = totalAmount">Alle</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-cancel float-right" (click)="modalRef.hide()">Abbrechen</button>
  <button class="btn btn-sm btn-success float-right" (click)="Ok()" [disabled]="!f.valid">Ok</button>
</div>
