@media (min-width: 768px) {
  header.masthead {
    text-align: center;
    background-image: url("../../assets/137492990-huge.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .padding-default {
    padding-top: 370px;
    padding-bottom: 470px
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .padding-default-lg{
    padding-top: 272px;
    padding-bottom: 260px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .padding-default-md {
    padding-top: 362px;
    padding-bottom: 350px
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .padding-default-sm {
    padding-top: 120px;
  }
}

@media (max-width: 575px) {
  .padding-default-xs {
    padding-top: 170px;
  }
}

@media (min-width: 768px) {
  section {
    padding: 150px 0
  }
}

.page-section {
  padding: 100px 0
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0
  }
}

::-moz-selection {
  text-shadow: none
}

::selection {
  text-shadow: none
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

.service-heading {
  margin: 15px 0;
  text-transform: none
}

.background-default {
  background-color: rgba(255, 255, 255, 0.6)
}
